
$enable-caret: true;
$blue: #2a4982;
$primary: $blue;
$gray-500: #aaaaaa;
$gray-900: #222222;
$enable-rounded: false;
$enable-gradients: false;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$font-family-sans-serif: 'Open Sans', arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$table-head-bg: $blue;
$white: #fff;
$table-head-color: $white;